127.0.0.1       localhost
172.16.95.60    os-ctrl-1 controller
172.16.95.61    os-netw-1
172.16.95.62    os-kvm-1

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
